@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Poppins");

.App {
    font-family: 'Poppins';
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    cursor: pointer;
    outline: none;
}

input[type='color']::-webkit-color-swatch {
    border: none;
}

input[type='color'] {
    width: 25px;
    height: 25px;
    border: 0.5px solid #eeeeee;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.strike-line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform-origin: left;
  pointer-events: none;
}

.animate-strike {
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.animate-unstrike {
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}