@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Poppins");

.App {
    font-family: 'Poppins';
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    cursor: pointer;
    outline: none;
}

input[type='color']::-webkit-color-swatch {
    border: none;
}

input[type='color'] {
    width: 25px;
    height: 25px;
    border: 0.5px solid #eeeeee;
}